{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h3>Naujo tiekėjo pridėjimo forma</h3>
    <br>
    {{ form_start(form) }}


    {{ form_end(form) }}
    <button type="submit">Pridėti tiekėją</button>
{% endblock %}