{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <p>Čia gali pridėti veiksmą</p>

    {{ form_start(form) }}

    <button type="submit">Siųsti</button>
    {{ form_end(form) }}
{% endblock %}