{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <p>Paspausti norint peržiūrėti instrukciją</p>
    <li><a href="https://www.buddssubaru.com/assets/wrx/2018-Subaru-WRX-Owner-Manual.pdf">Subaru impreza</a>
    <li><a href="https://cdn.dealereprocess.net/cdn/servicemanuals/fiat/2017-500.pdf">Fiat</a></li>
    <li><a href="https://www.mitsubishi-motors.com/en/maintenance/pdf/Mitsubishi_PARTSandGUIDE.pdf">Mitsubishi</a></li>
{% endblock %}
