{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<p>Cia galit uzsregistruot apsilankymui</p>

    {{ form_start(form) }}

    <button type="submit">Registruotis</button>
    {{ form_end(form) }}
{% endblock %}
