{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <p>Cia yra prekių šalinimo puslapis.  {% if app.user %} Prisijunges vartotojas: {{ app.user.username }} {% endif %}</p>

{% endblock %}
