{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


    <center><h3>Turite klausimų? Parašykite mums laišką!</h3></center>


    <div class="container">
        {{ form_start(form)}}
        <center>{{ form_widget(form, { 'attr': {'style': 'width: 30%'} }) }}
            <button type="submit" class="btn btn-success">Siųsti</button>
        </center>
        {{ form_end(form) }}
    </div>


{% endblock %}
