{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<h2>Redaguoti tiekėją</h2>
<br>
 <div class="container">
    {{ form_start(form)}}
         {{ form_widget(form) }}
            <button onclick="goBack()" class="btn btn-warning">Grįžti atgal</button>
    {{ form_widget(form) }}
</div>
       

{% endblock %}